
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz,wght@6..12,300&family=Rubik:wght@300;400&display=swap');body{
    height:60vw;
    margin:0px;
    padding:0px;
    background-color: rgba(232,232,232,255);
    font-family: 'Nunito Sans', sans-serif;
    font-size: 14px;
}

.header{
    position:fixed;
    top:0;
    background-color: rgba(0, 0, 0, 0.85);
    height: 50px;
    width:100%;
}
.header-name{
    float:left;
    display: flex;
    align-items: center;
    height: 100%;
}
.sign{
    float:right;
    display: flex;
    align-items: center;
    height:100%;
}
.create-new{
    width:120px;
    float:right;
    display: flex;
    align-items: center;
    height:100%;
}
a{
    color:white;
    text-decoration: none;
}
#button-1{
    margin-left: 5px;
    width: 80px;
    height: 80%;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 40px;
}
#button-1:hover{
    background-color: rgb(92, 92, 92,0.7);
}

#button-2{
    width: 120px;
    height: 80%;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 40px;
}
#button-2:hover{
    background-color: rgb(92, 92, 92,0.7);
}
.full-container{
    background-image: linear-gradient(to left bottom, #14005a, #20007d, #2d00a1, #3b00c7, #4900ee);
    border-radius: 20px;
    width:60vw;
    height:25vw;
    margin:auto;
    /* border:1px solid black; */
    box-shadow: 0px 0px 6px rgb(0, 34, 108);
    margin-top:15vw;
}
.input-container{
    margin-top: 20px;
    display: flex;
    align-items: center; 
    justify-content: center;
}
.submit-container{
    margin-top:5vw;
    margin-bottom: 5vw;
    display: flex;
    align-items: center; 
    justify-content: center;
}
.input-element{
    border-radius:8px;
    padding:10px;
    height:2vw;
    width:12vw;
    margin-left:1vw;
    margin-right:1vw;
    margin-top:3vw;
    margin-bottom:5px;
}
.submit-element{
    width:14vw;
    height:3.8vw;
}
#container{
    width:98%;
    overflow: auto;
    /* border: 2px solid black; */
    margin-top:51px;
    margin-left: 8px;
    
    display:inline-block;
    align-items: center; 
    justify-content: center;
}
.product_post{
    overflow: auto;
    float:left;
    border-radius: 7px;
    align-items: center;
    text-align: center;
    width: 17%;
    height:23vw;
    margin: 3px;
    border: 2px solid black;
}
.product_post img{
    text-align: center;
    width:100%;
    margin:auto;
    border-radius: 4px;
}