
body{
    height:60vw;
    background-image: linear-gradient(to right top, #000a23, #001b59, #002592, #0027ca, #0014ff);
    margin:0px;
    padding:0px;
}

.header{
    position:sticky;
    background-color: rgb(55, 55, 55);
    height: 50px;
    width:100%;
}
.header-name{
    float:left;
    display: flex;
    align-items: center;
    height: 100%;
}
.sign{
    float:right;
    display: flex;
    align-items: center;
    height:100%;
}
.create-new{
    width:120px;
    float:right;
    display: flex;
    align-items: center;
    height:100%;
}
a{
    color:white;
    text-decoration: none;
}
#button-1{
    margin-left: 5px;
    width: 80px;
    height: 80%;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 40px;
}
#button-1:hover{
    background-color: rgb(92, 92, 92);
}

#button-2{
    width: 120px;
    height: 80%;
    display: flex;
    align-items: center; 
    justify-content: center;
    border-radius: 40px;
}
#button-2:hover{
    background-color: rgb(92, 92, 92);
}
.full-container{
    background-image: linear-gradient(to left bottom, #14005a, #20007d, #2d00a1, #3b00c7, #4900ee);
    border-radius: 20px;
    width:60vw;
    height:25vw;
    margin:auto;
    /* border:1px solid black; */
    box-shadow: 0px 0px 6px rgb(0, 34, 108);
    margin-top:15vw;
}
.input-container{
    margin-top: 20px;
    display: flex;
    align-items: center; 
    justify-content: center;
}
.submit-container{
    margin-top:5vw;
    margin-bottom: 5vw;
    display: flex;
    align-items: center; 
    justify-content: center;
}
.input-element{
    border-radius:8px;
    padding:10px;
    height:2vw;
    width:12vw;
    margin-left:1vw;
    margin-right:1vw;
    margin-top:3vw;
    margin-bottom:5px;
}
.submit-element{
    width:14vw;
    height:3.8vw;
}